# Assignment 2 (PA-Stats)

In [1]:
import pandas as pd
import numpy as np
from scipy.optimize import curve_fit

In [2]:
data = pd.read_csv('data.csv',encoding='ISO-8859-1')
data

/tmp/ipython-input-2849982524.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data.csv',encoding='ISO-8859-1')

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
435737,SAMP,24-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,22.0,50.0,143.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-24
435738,SAMP,29-12-15,West Bengal,ULUBERIA,West Bengal State Pollution Control Board,RIRUO,20.0,46.0,171.0,NaN,"Inside Rampal Industries,ULUBERIA",NaN,2015-12-29
435739,NaN,NaN,andaman-and-nicobar-islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435740,NaN,NaN,Lakshadweep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
435741,NaN,NaN,Tripura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
x = pd.to_numeric(data['no2'],errors = 'coerce').dropna().values
x

array([17.4,  7. , 28.5, ..., 45. , 50. , 46. ])

In [4]:
roll_no = 102317112

In [5]:
ar = 0.05 * (roll_no % 7)
br = 0.3 * ((roll_no % 5) + 1)

In [6]:
ar

0.1

In [7]:
br

0.8999999999999999

In [8]:
z = x + ar * np.sin(br*x)
z

array([17.40479449,  7.00168139, 28.54944994, ..., 45.03341512,
       50.08509035, 45.94694108])

In [9]:
counts,bin_edges = np.histogram(z,bins=100,density=True)
bin_centers = (bin_edges[:-1] + bin_edges[1:])/2

In [10]:
def pdf(z_val,l,mu,c):
  return c * np.exp(-l * (z_val - mu) ** 2)

In [11]:
initial_guess = [0.01,np.mean(z),np.max(counts)]
params,_ = curve_fit(pdf,bin_centers,counts,p0 = initial_guess)
l_final,mu_final,c_final = params

/tmp/ipython-input-2754370742.py:2: RuntimeWarning: overflow encountered in exp
  return c * np.exp(-l * (z_val - mu) ** 2)

In [12]:
print(f"Lambda : {l_final:.5f}")
print(f"Mu : {mu_final:.5f}")
print(f"c : {c_final:.5f}")

Lambda : 0.00355
Mu : 19.87673
c : 0.03211